<a href="https://colab.research.google.com/github/klsio22/Mundo-1-curso-em-v-deo-do-ex005-ao-035/blob/master/Mundo_1_curso_em_v%C3%ADdeo_do_ex005_ao_035.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **EX005**

In [0]:
print('\n' + '-=-' * 10 + ' Sucessor e antecessor' + '-=-' * 10 + '\n')

n1 = int(input('Digite um numero: '))
print('\nO sucessor de {} é {} e o antecessor é {}'.format(n1, (n1+1), (n1-1)))
print('teste')

# **EX006**

In [0]:
print('\n====== Digite um numero para saber o seu dobro o seu triplo e a sua raiz ======\n')

n1 = int(input('Digite um numero '))

print('O dobro de {} é {} o triplo é {} e a raiz é {:.2f}'.format(n1, (n1*2), (n1*3), (pow(n1,(1/2)))))

In [0]:
print('\n' + '-=-' * 10 + 'Dobro, triplo e Raiz ' + '-=-' * 10 + '\n')

frase = str('Digite um número para saber o seu dobro o seu triplo e a sua raiz')

n1 = int(input('{} '.format(frase)))

print('O dobro de {} é {} o triplo é {} e a raiz é {:.2f}'
      .format(n1, (n1*2), (n1*3), (pow(n1,(1/2)))))

# **EX007**

In [0]:
print('\n============== Digite dois valores para saber a média entre eles ==============\n')

n1 = float(input('Digite a primeiro nota: '))
n2 = float(input('Digite a segunda  nota: '))
med = (n1 + n2) / 2

print('A media entre {:.1f} e {:.1f} é {:.2f}'.format(n1, n2, med))

ex007 - melhorar code

In [0]:
print('\n' + '-=-' * 10 + ' Média de notas ' + '-=-' * 10 + '\n')

print('Digite duas notas para saber a média entre eles')
print('Aviso:eles não podem ser menor que 0 e maior 10')

list = []
for n in range(1, 3):
    nota = float(input('Digite a {}º nota: '.format(n)))
    
    while (nota < 0) or (nota > 10):
        print('Valores não correspodente tente novamente')
        nota = float(input('Digite a {}º nota: '.format(n)))
    
    list += [nota]   
    soma = sum(list)
    qnt_nota = len(list)

med = soma / 2
print('A media entre {:.1f} e {:.1f} é {:.2f}'.format(list[0], list[1], med))

# **EX008**

In [0]:
"""''''''
print('\n===== Escreva um valor em metros para converte-lo para cm e mm =====\n')

m = float(input('Digite um valor em metro '))

print('A medida em {}m corresponde a'.format(m))
print('{}km'.format(m/1000))
print('{}hm'.format(m/100))
print('{}dam'.format(m/10))
print('{}dm'.format(m*10))
print('{}cm'.format(m*100))
print('{}mm'.format(m*1000))
''''''"""

print('\n' + '-#-' * 10 + ' CONVERSOR DE UNIDADES ' + '-#-' * 10 + '\n')

print('ATENÇÃO: Escreva um valor em metros para converte-lo para respectivas unidades:')
print('cm,mm,dm,dam,hm,km\n')

m = float(input('Digite o valor em metros: '))

print('--' * 23)
print('Digite 1 para converter para km(kilometro)')
print('--' * 23)
print('Digite 2 para converter para hm(hectomentro)')
print('--' * 23)
print('Digite 3 para converter para dam(decametro)')
print('--' * 23)
print('Digite 4 para converter para dm(decimetro)')
print('--' * 23)
print('Digite 5 para converter para cm (centimetros)')
print('--' * 23)
print('Digite 6 para converter para mm (milimetros)')
print('--' * 23)

medida = float(input('\nUnidade: '))
print('\n')
if medida == 1:
    print('A medida em {}m corresponde a'.format(m))
    print('{}km\n'.format(m / 1000))
elif medida == 2:
    print('A medida em {}m corresponde a'.format(m))
    print('{}hm\n'.format(m / 100))
elif medida == 3:
    print('A medida em {}m corresponde a'.format(m))
    print('{}dam\n'.format(m / 10))
elif medida == 4:
    print('A medida em {}m corresponde a'.format(m))
    print('{}dm\n'.format(m * 10))
elif medida == 5:
    print('A medida em {}m corresponde a'.format(m))
    print('{}cm\n'.format(m * 100))
elif medida == 6:
    print('A medida em {}m corresponde a'.format(m))
    print('{}mm\n'.format(m * 1000))
else:
    print('Tecla invalida\n')

# **EX009**

In [0]:
print('\n====== Digite um valor para gerar a sua tabuada =======\n')

n = float(input('Digite o numero: '))
print('\n====== TABUADA de {} =====\n'.format(n))
print('{} X {:2} = {:.2f}'.format(n, 1, n * 1))
print('{} X {:2} = {:.2f}'.format(n, 2, n * 2))
print('{} X {:2} = {:.2f}'.format(n, 3, n * 3))
print('{} X {:2} = {:.2f}'.format(n, 4, n * 4))
print('{} X {:2} = {:.2f}'.format(n, 5, n * 5))
print('{} X {:2} = {:.2f}'.format(n, 6, n * 6))
print('{} X {:2} = {:.2f}'.format(n, 7, n * 7))
print('{} X {:2} = {:.2f}'.format(n, 8, n * 8))
print('{} X {:2} = {:.2f}'.format(n, 9, n * 9))
print('{} X {:2} = {:.2f}'.format(n, 10, n * 10))
print('=' * 12)

# **EX010**

In [0]:
print('\n===== Conversor de R$ para US$ , EUR , CAD =====\n')

real = float(input('Digite o valor que será convertido R$: '))
print('Moeda Real: R${} '.format(real))

print('\n===== Valores Convertidos =====')

print('\nMoeda Dólar US : US${:.5f} '.format(real/3.94477))
print('Moeda Euro : €{:.5f} '.format(real/4.39691))
print('Moeda Dólar Canadense: C${:.5f} \n'.format(real/2.92853))

print('='*40)

# **EX011**

In [0]:
print('\n======= Pintando a parede ======\n')

a = float(input('Digite Altura da parede '))
l = float(input('Digite a largura da parede '))

are = a * l
lit = are / 2.0

print('Uma parede de {}m de altura e {}m de largura'.format(a, l) , end= '')
print(' pinta uma area de {:.3f}m² com {:.3f}l de tinta.'.format(are, lit))

# **EX012**

In [0]:
print('\n============== Preço do produto e o desconto de 5% ==============\n')

price = float(input('Qual o preço do produto? R$'))

dis = price - (price * 0.05)

print('Produto sem o desconto {:.2f}'.format(price))
print('Produto com o desconto {:.2f}'.format(dis))

# **EX013**

In [0]:
print('\n======== Aumento de Salario em 15% ========\n')

sal = float(input('Salario atual R$'))

aum = sal + (sal * 0.15)

print('Antigo salario {:.2f}' .format(sal))
print('Salario após o aumento {:.2f}'.format(aum))

# **EX014**

In [0]:
print('\n======= Conversor de temperaturas ========\n')

c = float(input('Digite a temperatura em Celsius: '))
f = float(input('Digite a temperatura em Fahrenheit: '))
k = float(input('Digite a temperatura em Kelvin: '))

print('\n' + '=' * 30 + '\n')

print('Celsius >> Fahrenheit = {}°F'.format(32 + (c * 1.8)))
print('Celsius >> Kelvin = {}K'.format(c + 273.15))

print('\n' + '=' * 30 + '\n')

print('Fahrenheit >> Celsius = {:.3f}°C'.format(((f - 32) * (5 / 9))))
print('Fahrenheit >> Kelvin = {:.3f}K'.format((f - 32) * (5 / 9) + 273.15))

print('\n' + '=' * 30 + '\n')

print('Kelvin >> Celsius = {:.3f}°C'.format(k - 273.15))
print('Kelvin >> Fahrenheit = {:.3f}°F'.format((k - 273.15) * 1.8 + 32))

print('\n' + '=' * 30)

# **EX015**

In [0]:
print('\n' + '=' * 30 + ' Alugel do Carro ' + '=' * 30 + '\n')

km = float(input('Digite a quantidade km percorridos '))
day = float(input('Digite a quantidade de dias alugados '))

print('\ntotal a pagar R${:.2f}'.format((day*60) + (0.15 * km)))

# **EX016**

In [0]:
import math

print('\n'+'=' * 20+' Aredondamento de valores ' + '='*20 + '\n')

n = float(input('Digite um numero: '))

print('Numero aredondado :', math.floor(n))

# **EX017**

In [0]:
from math import hypot

print('\n'+'=' * 20 +' Calcule a Hipotenusa ' + '='*20 + '\n')

co = float(input('Digite o valor do catedo oposto: '))
ca = float(input('Digite o valor do catedo adjacente: '))

print('\nValor da hipotenusa é = ', hypot(co, ca))

# **EX018**

In [0]:
from math import radians, cos, sin, tan

print('\n'+'=' * 20 +' Calcule a Hipotenusa ' + '='*20 + '\n')

arc = float(input('Digite o valor do ângulo: '))

print('\n'+'='*20+'\n')

print('O ângulo do seno = {:.2f}'.format(sin(radians(arc))))
print('O ângulo do coseno = {:.2f}'.format(cos(radians(arc))))
print('O ângulo do tangente = {:.2f}'.format(tan(radians(arc))))

# **EX019**

In [0]:
from random import choice

print('\n' + '=' * 20 + ' Sorteio do um aluno ' + '=' * 20 + '\n')

a1 = str(input('Digite o nome do Primeiro aluno: '))
a2 = str(input('Digite o nome do Segundo aluno: '))
a3 = str(input('Digite o nome do Terceiro aluno: '))
a4 = str(input('Digite o nome do Quarto aluno: '))

print('\n'+'='*20+'\n')

lista = [a1, a2, a3, a4]

print('Nome Soteado pelo professor: {}'.format(choice(lista)))

# **EX020**

In [0]:
from random import shuffle

print('\n' + '=' * 20 + ' Sorteio de ordem de apresentação dos alunos ' + '=' * 20 + '\n')

a1 = str(input('Digite o nome do 1º aluno: '))
a2 = str(input('Digite o nome do 2º aluno: '))
a3 = str(input('Digite o nome do 3º aluno: '))
a4 = str(input('Digite o nome do 4º aluno: '))

lista = [a1, a2, a3, a4]
shuffle(lista)

print('\n' + '=' * 50 + '\n')

print('A ordem de apresentação será: {}'.format(lista))

print('\n' + '=' * 50 + '\n')

# **EX021**

In [0]:
import pygame
pygame.init()
pygame.mixer.music.load('ex021.mp3')
pygame.mixer.music.play()
pygame.event.wait()

# **EX022**

In [0]:
print('\n' + '=' * 40 + ' Nome de Pessoas ' + '=' * 40 + '\n')

nome = str(input('Digite o seu nome: ')).strip()
listnome = nome.split()

print('='*50)

print('Seu nome com letras maiúsculas : {}'.format(nome.upper()))

print('='*50)

print('Seu nome com letras menusculas : {}'.format(nome.lower()))

print('='*50)

print('Número de Caracteres do seu nome: {}'.format(len(nome) - nome.count(' ')))

#print('Número de Caracteres do seu nome: {}'.format(len(''.join(listnome))))

print('='*50)

#print('O Seu primeiro tem {} letras'.format(nome.find(' ')))

print('O Seu primeiro é {} e tem {} letras'.format(listnome[0], len(listnome[0])))

# **EX023**

In [0]:
print('\n' + '=' * 40 + ' NUMERAÇÃO DECIMAL ' + '=' * 40 + '\n')
'''''''''
num = int(input('Digite o numero : '))
u = num // 1 % 10
d = num // 10 % 10
c = num // 100 % 10
m = num // 1000 % 10

print('Analizando o número: {}'.format(num))
print('Unidade: {}'.format(u))
print('Dezena: {}'.format(d))
print('Centena: {}'.format(c))
print('Milhar: {}'.format(m))
'''''''''

n = int(input('Digite um número entre 0 e 9999: '))
n2 = str(int(10000 + n))
print('{} milhares.'.format(n2[1]))
print('{} centenas. '.format(n2[2]))
print('{} dezenas. '.format(n2[3]))
print('{} unidades.'.format(n2[4]))

# **EX024**

In [0]:
print('\n' + '=' * 40 + ' Nome da Cidade ' + '=' * 40 + '\n')
'''''''''
cidade = str(input('Digite o nome de sua cidade: ')).strip().split()

cidade02 = cidade[0].title().capitalize()

if (cidade02 == str('Santo')):
    print('VERDADEIRO')

else:
    print('FALSO')
'''''''''



city = str(input('Em qual cidade você nasceu: ')).strip().split()
cit = city[0].title().capitalize()

if cit == str('Santos'):
    print('True')
else:
    print('Falso')

'''''''''
cid = str(input('Em que cidade você nasceu? ')).strip().split()
print(cid[0].lower() == 'santo')
'''''''''

# **EX025**

In [0]:
print('\n' + '=' * 40 + ' Nome da Pessoa tem Silva ?' + '=' * 40 + '\n')

nome_pessoa = str(input('Digite o seu nome completo: ')).lower().strip()
print('Seu nome tem Silva ? {}'.format('silva' in nome_pessoa))

# **EX026**

In [0]:
print('\n' + '=' * 40 + ' Ocorrência da Letra "A" ' + '=' * 40 + '\n')

word = str(input('Digite uma frase : ')
           ).strip().lower().replace('â', 'a')\
    .replace('ã', 'a').replace('à', 'a').replace('á', 'a')

print('A letra "A" aparece {} vezes na frase.'.format(word.count('a')))
print('A primeira letra "A" apareceu na posição {} '.format(word.find('a') + 1))
print('A última letra "A" apareceu na posição {}'.format(word.rfind('a') + 1))

# **EX027**

In [0]:
print('\n' + '=' * 40 + ' Primeiro e Ultimo Nome da Pessoa ' + '=' * 40 + '\n')


n = str(input('Digite o nome completo : ')).strip().title()

nome = n.split()

print('\n' + '=' * 40 + '\n')

print('Pazer em te conhecer {}' .format(n))

print('\n' + '=' * 40 + '\n')

print('O seu primeiro nome é {}'.format(nome[0]))

print('\n' + '=' * 40+'\n')

print('O seu último nome é {}'.format(nome[-1]))
#print('O seu último nome é {}'.format(nome[len(nome)-1]))

print('\n' + '=' * 40)

# **EX028**

In [0]:
from random import randint
from time import sleep
from termcolor import colored

print(colored('-=-', 'yellow') * 20)
print(' Os números são gerados aleatóriamente entre 0 e 5 ', 'blue')
print(colored('-=-', 'yellow') * 20)

player = int(input('\nEscolha um número entre 0 e 5 : '))

computer = randint(0, 5)

print(colored('Preocessando ...', 'magenta'))
sleep(3)

if computer == player:
    print('\nParabéns, você acertou, eu escolhi o número {}'.format(computer))
else:
    print('\nNão foi dessa vez você errou não é {}, o correto era {}'.format(player, computer))

# **EX029**

In [0]:
print('\n' + '=' * 30 + ' Velocidade do carro  ' + '=' * 30 + '\n')

print('Velocidade maxíma nessa extrada é 80km/h')
print('A Multa será de R$ 7 por km/h acima da velocidade Maxíma\n')

print('=' * 40)
km = float(input('Digite a velocidade do carro : '))

cores = {
    'limpa': '\033[m',
    'branco': '\033[30m',
    'vermelho': '\033[31m',
    'verde': '\033[32m',
    'amarelo': '\033[33m',
    'azul': '\033[34m',
    'roxo': '\33[35m',
    'verdeAgua': '\033[36m',
    'cinza': '\033[37m',
}

if km > 80:
    mul = 7 * (km - 80)
    print('{}MULTADO! você execedeu o limite permitido que é de 80km/h'.format(cores['vermelho']))
    print('Você irá pagar um multa de {}R$ {:.2f}'.format(cores['amarelo'], mul))
else:
    print('{}Sua velocidade está no limite estabelecido.'.format(cores['verde']))

# **EX030**

In [0]:
print('\n' + '=' * 30 + ' Números Par e Ímpar ' + '=' * 30 + '\n')

cores = {
    'limpa': '\033[m',
    'branco': '\033[30m',
    'vermelho': '\033[31m',
    'verde': '\033[32m',
    'amarelo': '\033[33m',
    'azul': '\033[34m',
    'roxo': '\33[35m',
    'verdeAgua': '\033[36m',
    'cinza': '\033[37m',
}

n = int(input('{}Digite um numero para saber se é PAR ou ÍMPAR{} : '.format(cores['roxo'], cores['limpa'])))

par = n % 2

if par == 0:
    print('\nO número {} é {}divisível por 2'.format(n, cores['azul']))
else:
    print('\nO número {} não é {}divisível por 2 '.format(n, cores['azul']))

# **EX031**

In [0]:
cores = {
    'limpa': '\033[m',
    'branco': '\033[30m',
    'vermelho': '\033[31m',
    'verde': '\033[32m',
    'amarelo': '\033[33m',
    'azul': '\033[34m',
    'roxo': '\33[35m',
    'verdeAgua': '\033[36m',
    'cinza': '\033[37m',
}
print('\n' + '=' * 30 + ' Distância de uma viagem ' + '=' * 30 + '\n')

print('Viagens até 200km pagará R$0.50 por km e R$0.45 para maiores de 200km ')
print('=' * 70)
distancia = float(input('\nDigite a distância da viagem: '))

if distancia <= 200:
    preco = distancia * 0.50
else:
    preco = distancia * 0.45
print('O valor a pagar pela passagem será de {}R$ {:.2f}'.format(cores['amarelo'], preco))

''''''''''
preco = distancia * 0.50 if distancia <= 200 else distancia * 0.45
print('O valor pago pela passagem será de {}R$ {:.2f}'.format(cores['amarelo'], preco))
'''''''''

# **EX032**

In [0]:
from datetime import date

cores = {
    'limpa': '\033[m',
    'branco': '\033[30m',
    'vermelho': '\033[31m',
    'verde': '\033[32m',
    'amarelo': '\033[33m',
    'azul': '\033[34m',
    'roxo': '\33[35m',
    'verdeAgua': '\033[36m',
    'cinza': '\033[37m',
}

print('\n' + '=' * 30 + ' Ano Bissexto' + '=' * 30 + '\n')

ano = int(input('Qual ano deseja saber se é bissexto : '))

if ano == 0:
    ano = date.today().year
if ano % 4 == 0 and ano % 100 != 0 or ano % 400 == 0:
    print('O ano {} é Bissexto'.format(ano))
else:
    print('O ano {} não é bissexto'.format(ano))

# **EX033**

In [0]:
from termcolor import colored
cores = {
    'limpa': '\033[m',
    'branco': '\033[30m',
    'vermelho': '\033[31m',
    'verde': '\033[32m',
    'amarelo': '\033[33m',
    'azul': '\033[34m',
    'roxo': '\33[35m',
    'verdeAgua': '\033[36m',
    'cinza': '\033[37m',
}

print('\n' + '=' * 30 + ' Número Maior e Menor ' + '=' * 30 + '\n')

print('{}Digite três números para defini-los qual é o maior e menor entre eles\n'.format(cores['roxo']))


n1 = float(input(colored('Digite o primeiro número : ', 'red')))
n2 = float(input(colored('Digite o segundo número : ', 'red')))
n3 = float(input(colored('Digite o terceiro númer: ', 'red')))
'''''''''
if n1 > n2 and n1 > n3:
    print('{} é o maior número'.format(n1))
if n2 > n1 and n2 > n3:
    print('{} é o maior número'.format(n2))
if n3 > n1 and n3 > n2:
    print('{} é o maior número'.format(n3))
if n1 < n2 and n1 < n3:
    print('{} é o menor número'.format(n1))
if n2 < n1 and n2 < n3:
    print('{} é o menor número'.format(n2))
if n3 < n1 and n3 < n2:
    print('{} é o menor número'.format(n3))
'''''''''
maior = n1

if n2 > n1 and n2 > n3:
    maior = n2
if n3 > n1 and n3 > n2:
    maior = n3

menor = n1
if n2 < n1 and n2 <n3:
    menor = n2
if n3 < n1 and n3 < n2:
    menor = n3

print('\n{}{} é o maior número'.format(cores['azul'],maior))
print('{}{} é o menor número'.format(cores['verdeAgua'],menor))

# **EX034**

In [0]:
from termcolor import colored
cores = {
    'limpa': '\033[m',
    'branco': '\033[30m',
    'vermelho': '\033[31m',
    'verde': '\033[32m',
    'amarelo': '\033[33m',
    'azul': '\033[34m',
    'roxo': '\33[35m',
    'verdeAgua': '\033[36m',
    'cinza': '\033[37m',
}

print('\n' + '=' * 30 + ' Aumentos múltiplos ' + '=' * 30 + '\n')

sal = float(input(colored('Qual o seu salário ? ', 'red')))


if sal > 1250:
    aumento = (sal * 0.10) + sal
    print("{}Esse funcionario que ganhava {} teve um aumento de R${:.2f}".format(cores['verdeAgua'], sal, aumento))
if sal <= 1250 and sal >= 300:
    aumento = (sal*0.15) + sal
    print("{}Esse funcionario que ganhava {} teve um aumento de R${:.2f}".format(cores['verdeAgua'], sal, aumento))
if sal < 300:
    print('{}Não tem nenhum funcinário dessa empresa que ganha menos de R$300'.format(cores['verdeAgua']))


'''''''''
if sal > 1250:
    aumento = (sal * 0.10) + sal
    print("Esse funcionario que ganhava {} teve um aumento de {:.2f}".format(sal, aumento))
else:
    aumento = (sal*0.15) + sal
    print("Esse funcionario que ganhava {} teve um aumento de {:.2f}".format(sal, aumento))
'''''''''

'''''''''
if sal > 1250:
    aumento = (sal * 0.10) + sal
    print("{}Esse funcionario que ganhava {} teve um aumento de R${:.2f}".format(cores['verdeAgua'], sal, aumento))
if sal <= 1250 and sal >= 300:
    aumento = (sal*0.15) + sal
    print("{}Esse funcionario que ganhava {} teve um aumento de R${:.2f}".format(cores['verdeAgua'], sal, aumento))
if sal < 300:
    print('{}Não tem nenhum funcinário dessa empresa que ganha menos de R$300'.format(cores['verdeAgua']))
'''''''''

# **EX035**

In [0]:
print('\n' + '-=-' * 15 + ' Retas que Formam um Triângulo ' + '-=-' * 15 + '\n')

a = float(input('Digite o valor da primeira reta: '))
b = float(input('Digite o valor da segunda reta: '))
c = float(input('Digite o valor da terceira reta: '))

if a + b > c and b + c > a and c + a > b:
    print('\nEssas retas formam um Triângulo')
else:
    print('\nEssas retas não forma Triangulo')